<section id="cfp" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Papers</h2>
                    <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
                </div>
            </div>
            <div class="row text-left">


The full-day workshop on Oct 22, 2022 will include the following three parts:
<ul style="margin:2em;font-size: 105%;">
<li>Part 1 features plenary sessions, including the keynotes, invited talks, and panel.</li>
<li>Part 2 features selected presentations from speakers whose papers are peer-reviewed and who attend in person.</li>
<li>Part 3 features lightning talks for extended abstracts that are not formally peer-reviewed.</li>
</ul>

We invite submissions for novel research papers around the following topics:
<ul style="margin:2em;font-size: 105%;">
<li>Quality control for crowdsourced data curation</li>
<li>Data worker incentivization and engagement, including techniques from citizen science and collective intelligence</li>
<li>Expertise finding and engagement for data curation</li>
<li>Supporting crowd workers and experts in data task completion</li>
<li>Supporting data curation task design for data requesters</li>
<li>Collaborative data work among humans and between humans and AI</li>
<li>Human studies into the transparency, reliability, and biases in manual and hybrid data curation</li>
<li>Interaction techniques for manual, collaborative, and hybrid human-machine data curation, eg.., conversational interfaces</li>
<li>Database and machine learning techniques for supporting large-scale and hybrid data curation </li>
<li>Human intervention in data cascades and machine learning lifecycle management</li>
<li>Benchmarks in machine learning, AI, and related areas</li>
<li>Privacy and security issues of data quality, e.g., data poisoning attacks</li>
</ul>

Research papers must describe original work that has not been previously published, not accepted for publication elsewhere, and not simultaneously submitted or currently under review in another journal or conference. <br /><br />

Submissions of research papers must be in English, in PDF format, and be at most 2-4 pages (including figures, tables, proofs, appendixes, acknowledgments, and any content except references) in length, with unrestricted space for references, in the current ACM two-column conference format. Suitable LaTeX, Word, and Overleaf templates are available from the ACM Website (use “sigconf” proceedings template for LaTeX and the Interim Template for Word). <br /><br />

Submissions must be anonymous and should be submitted electronically via EasyChair:<br /><br />

<a href="https://easychair.org/conferences/?conf=hildc2022">
https://easychair.org/conferences/?conf=hildc2022</a><br /><br />

At least one author of each accepted paper for part 2 of the workshop is required to register for, and present the work at the workshop.
 <br /><br />


Best papers will be <b>invited to submit an extended version to a special issue of the ACM Journal of Data and Information Quality</b> to be published in Q3 2023.

</div>
    </section>