<!-- Team Section -->
    <section id="organizers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organizers</h2>
                    <h3 class="section-subheading text">Send an email to citrec2017[at]gmail.com for questions.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div style="width:19.67%" class='col-sm-4'>
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="" height="200" width="200">
                        <h4>{{ member.name }}</h4>
                        <p class="text">{{ member.position }} <br />
                        <class="text">{{ member.email }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div-->
        </div>
    </section>