<section id="pc"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program Committee</h2>
                </div>
            </div>
            <div class="row text-left">
                
<li>
Ines    Arous, University of Fribourg</li> 
<li>Agathe  Balayn, Delft University of Technology</li>
<li>Marco   Brambilla, Politecnico di Milano
</li>
<li>Fabio   Casati,  Servicenow </li>
<li>Matthew Lease, The University of Texas at Austin</li>
<li>Jahna   Otterbacher, Open University of Cyprus</li>
<li>Hailong Sun,   Beihang University  </li>
<li>Jie Zhang,   Nanyang Technological University</li>

</div>
</div>
</section>