<!-- About Section -->
    <section id="pc" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program Committee</h2>
                    <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3 -->
                </div>
            </div>
            <div class="row">
            <ul style="margin:2em;font-size: 105%;">
            <li><a href="https://www.microsoft.com/en-us/research/people/jiebao/">Jie Bao</a>, Microsoft Research Asia</li>
            <li><a href="http://iricelino.org">Irene Celino</a>, CEFRIEL</li>
            <li><a href="http://sisinflab.poliba.it/dinoia/">Tommaso Di Noia</a>, Polytechnic University of Bari</li>
            <li><a href="http://fangh.org">Hui Fang</a>, Shanghai University of Finance and Economics</li>
            <li><a href="http://students.cse.tamu.edu/hge/">Hangcheng Ge</a>, Texas A&M University</li>
            <li><a href="http://www.luckymoon.me">Guibing Guo</a>, Northeastern University</li>
            <li><a href="http://www.fh-stralsund.de/ueber-uns/personenverzeichnis/?i=730">Jasminko Novak</a>, University of Applied Science Stralsund</li>
            <li><a href="http://www.public.asu.edu/~swang187/">Suhang Wang</a>, Arizona State University</li>
            <li><a href="http://yilinwang.org">Yilin Wang</a>, Arizona State University</li>
            <li><a href="http://www.cse.msu.edu/~tangjili/">Jiliang Tang</a>, Michigan State University</li>
            <li><a href="http://www.andrew.cmu.edu/user/yongzhua/">Yong Zhuang</a>, Carnegie Mellon University</li>
            <li>(More...)</li>
            </ul>
            </div>
        </div>
    </section>