<!-- Services Section -->
    <section id="program"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                </div>
            </div>
            <div class="row text-left">
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-yw4l">09:00 - 09:10</th>
    <th class="tg-yw4l" colspan="2">Introduction</th>
  </tr>
  <tr>
    <td class="tg-yw4l">09:10 - 09:50</td>
    <td class="tg-yw4l">Keynote</td>
    <td class="tg-yw4l">Daniel Gatica-Perez, Idiap Research Institute and EPFL, Switzerland. (Title and abstract to be announced soon!)</td>
  </tr>
  <tr>
    <td class="tg-yw4l">09:50 - 10:30</td>
    <td class="tg-yw4l">Regular Paper Session 1</td>
    <td class="tg-yw4l">* Aditya Menon, Dawei Chen, Lexing Xie and Cheng Ong. Revisiting Revisits in Trajectory Recommendation.<br>* Yali Si, Fuzhi Zhang and Wenyuan Liu. A Time-aware POI Recommendation Method Exploiting User-based Collaborative Filtering and Location Popularity.<br>* Diana Nurbakova, Léa Laporte, Sylvie Calabretto and Jérôme Gensel. Users Psychological Profiles for Leisure Activity Recommendation: User Study.</td>
  </tr>
  <tr>
    <td class="tg-yw4l">10:30 - 11:00</td>
    <td class="tg-yw4l" colspan="2">Break</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11:00 - 11:15</td>
    <td class="tg-yw4l">Vision Paper Session</td>
    <td class="tg-yw4l">* Pavel Kucherbaev, Achilleas Psyllidis and Alessandro Bozzon. Chatbots as Conversational Recommender Systems in Urban Contexts.<br>* María E. Cortés-Cediel, Iván Cantador and Olga Gil. Recommender Systems for E-governance in Smart Cities: State of the Art and Research Opportunities.</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11:15 - 11:45</td>
    <td class="tg-yw4l" colspan="2">Discussion</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11:45 - 12:25</td>
    <td class="tg-yw4l">Regular Paper Session 2</td>
    <td class="tg-yw4l">* Agung T Wibowo, Advaith Siddharthan, Helen Anderson, Annie Robinson, Nirwan Sharma, Helen Bostock, Andrew Salisbury, Richard Comont and Ren'E Van Der Wal. Bumblebee Friendly Planting Recommendations with Citizen Science Data.<br>* Shunpan Liang, Jinqing Zhao, Fuyong Yuan and Fuzhi Zhang. Leveraging Explicit Product Relationships For Improved Collaborative Filtering Recommendation Algorithm.<br>* Iván Cantador, Alejandro Bellogín, María E. Cortés-Cediel and Olga Gil. Personalized Recommendations in E-participation: Offline Experiments for the 'Decide Madrid' Platform.</td>
  </tr>
  <tr>
    <td class="tg-yw4l">12:25 - 12:30</td>
    <td class="tg-yw4l" colspan="2">Closing</td>
  </tr>
</table>
            </div>
        </div>
    </section>