<section id="program"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                </div>
            </div>
            <div class="row text-left">
The full-day workshop on Oct 22, 2022 will include the following three parts:
<ul style="margin:2em;font-size: 105%;">
<li>Part 1 features plenary sessions, including the keynotes, invited talks, and panel.</li>
<li>Part 2 features selected presentations from speakers whose papers are peer-reviewed and who attend in person.</li>
<li>Part 3 features lightning talks for extended abstracts that are not formally peer-reviewed.</li>
</ul>

</div>
        </div>
    </section>