<section id="program"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                </div>
            </div>
            <div class="row text-left">
                <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0thz{border-color:inherit;font-weight:bold;text-align:left;vertical-align:bottom}
.tg .tg-za14{border-color:inherit;text-align:left;vertical-align:bottom}
.tg .tg-7zrl{text-align:left;vertical-align:bottom}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-j6zm{font-weight:bold;text-align:left;vertical-align:bottom}
</style>

NB. Each accepted paper has 10 minutes for presentation, and 5 more minutes for
questions. <br> 
Each lightening talk is 5 minutes, and 3 more minutes for questions. 
<br><br>

<table class="tg">
<thead>
  <tr>
    <th class="tg-0thz"><span style="font-weight:bold">Time</span></th>
    <th class="tg-0thz"><span style="font-weight:bold">Activity</span></th>
    <th class="tg-0thz"><span style="font-weight:bold">Title</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-za14">09.00-09.10</td>
    <td class="tg-za14" colspan="2">Welcome and Opening</td>
  </tr>
  <tr>
    <td class="tg-za14">09.10-10.00</td>
    <td class="tg-za14" colspan="2">Keynote 1 - Abraham Bernstein: <i>Towards a Collaboration between Humans and Machines for Data Curation and Analysis</i></td>
  </tr>
  <tr>
    <td class="tg-0thz"><span style="font-weight:bold">10.00-10.30</span></td>
    <td class="tg-0thz" colspan="2"><span style="font-weight:bold">Break</span></td>
  </tr>
  <tr>
    <td class="tg-7zrl">10.30-11.30</td>
    <td class="tg-7zrl" colspan="2">Keynote 2 - Ujwal Gadiraju: <i>Human-Centered AI: A Crowd Computing Perspective</i></td>
  </tr>
  <tr>
    <td class="tg-0lax" rowspan="4">11.30-12.15</td>
    <td class="tg-0lax" rowspan="4">Session 1: Methods</td>
    <td class="tg-7zrl">Brendan Coon. <i>HITL IRL: 12 Reflections on Expertise Finding and Engagement for a Large Data Curation Team</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">(lightening) Stephanie Eckman, Jacob Beck, Rob Chew and Frauke Kreuter. <i>Improving Labeling Through Social Science Insights</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">(lightening) Sepideh Nikookar. <i>Human-AI Complex Task Planning</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">Subhadip Paul, Anirban Chatterjee, Binay Gupta and Kunal Banerjee. <i>Developing a Noise-Aware AI System for Change Risk Assessment with Minimal Human Intervention</i></td>
  </tr>
  <tr>
    <td class="tg-j6zm"><span style="font-weight:bold">12.15-14.00</span></td>
    <td class="tg-j6zm" colspan="2"><span style="font-weight:bold">Break</span></td>
  </tr>
  <tr>
    <td class="tg-0lax" rowspan="5">14.00-14.55</td>
    <td class="tg-0lax" rowspan="5">Session 2: NLP</td>
    <td class="tg-7zrl">(lightening) Shubhanshu Mishra and Jana Diesner. PyTAIL: Interactive and Incremental Learning of NLP Models with Human in the Loop for Online Data</td>
  </tr>
  <tr>
    <td class="tg-7zrl">Baihan Lin. <i>Knowledge Management System with NLP-Assisted Annotations: A Brief Survey and Outlook</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">(lightening) Sara Pidò and Pietro Pinoli. <i>A Paradigm to Put Back the User into the AutoML Loop through Natural Language</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">Deepa Muralidhar and Ashwin Ashok. <i>Creating a framework for a Benchmark Religion Dataset</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">(lightening) Bipasha Banerjee, Palakh Mignonne Jude, William A. Ingram, Kurt Luther and Edward A. Fox. <i>Help Me Help You - A Mixed-Initiative Approach To Explore Book-length Documents</i></td>
  </tr>
  <tr>
    <td class="tg-0lax" rowspan="4">15.00-15.55</td>
    <td class="tg-0lax" rowspan="4">Session 3: Multimedia</td>
    <td class="tg-7zrl">Meghana Deodhar, Xiao Ma, Yixin Cai, Alex Koes, Jilin Chen and Alex Beutel. <i>A Human-ML Collaboration Framework for Improving Video Content Reviews</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">Kameswara Mantha, Ramanakumar Sankar, Yuping Zheng, Lucy Fortson, Thomas Pengo, Douglas Mashek, Mark Sanders, Trace Christensen, Jeffrey Salisbury, Laura Trouille, Jarrett Byrnes, Isaac Rosenthal, Henry Housekeeper and Kyle Cavanaugh. <i>From Fat Deposits to Floating Forests: Cross-Domain Transfer Learning using PatchGAN-based Segmentation Model</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">Edwin Gamboa, Jose Alejandro Libreros Montaño, Dan Dubiner and Matthias Hirth. <i>Human-AI Collaboration for Improving the Identification of Cars for Autonomous Driving</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">(lightening) Paola Santana-Morales, Antonio J. Tallón-Ballesteros, Tengyue Li and Simon Fong. <i>Triple Attribute Subset Selection Metaheuristic for Multi-class High-dimensionality Problems</i></td>
  </tr>
  <tr>
    <td class="tg-7zrl">15.55-16.05</td>
    <td class="tg-7zrl" colspan="2">Closing</td>
  </tr>
  <tr>
    <td class="tg-7zrl">16.30</td>
    <td class="tg-j6zm" colspan="2"><span style="font-weight:bold">End</span></td>
  </tr>
</tbody>
</table>

            </div>
        </div>
    </section>