<!-- Clients Aside -->
    <aside class="sponsors bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="row text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
                    <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            <br />
            <br />
            <div class="row text-middle">
                <div style="width:20.67%%; float: middle;" class="col-md-2 col-sm-2">
                </div>
                <div style="width:35.67%%; float: middle;" class="col-md-2 col-sm-2">
                    <a href="http://www.delftdatascience.tudelft.nl">
                        <img src="img/logos/dds.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div style="width:18.67%; float: middle;" class="col-md-2 col-sm-2">
                    <a href="http://www.ams-amsterdam.com">
                        <img src="img/logos/ams.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <br /><br /><br />
            <div class="row text-center " >
                <h2 class="section-heading">Institutions</h2>     
            </div>     
            <br />
            <br />   
                <div style="width:12.67%%; float: middle;" class="col-md-2 col-sm-2">
                </div>
                <div style="width:27.67%" class="col-md-3 col-sm-6">
                    <a href="http://www.tudelft.nl/en/">
                        <img src="img/logos/delft.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div style="width:25.67%" class="col-md-3 col-sm-6">
                    <a href="http://www.ntu.edu.sg/Pages/home.aspx">
                        <img src="img/logos/ntu.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div style="width:29.67%" class="col-md-3 col-sm-6">
                    <a href="http://www.ru.nl/english/">
                        <img src="img/logos/logo-radboud.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                
        </div>
    </aside>